/* Base (mobile first) */

.pageLayout {
  display: flex;
  align-items: center;
  justify-content: left;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 10% 6%;
}

.breadCrum {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem 0rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border: none;
  color: var(--text-green);
}

.title {
  font-size: xx-large;
  color: var(--text-slate);
}

.mainContent {
  margin-top: 4rem;
}

.projectTableSection {
}

/* Tablet */
@media (min-width: 640px) {
  /* styles for ≥640px */
}

/* Desktop */
@media (min-width: 1024px) {
  /* styles for ≥1024px */
  .container {
    padding: 6% 10% 2% 10%;
  }
  .breadCrum {
    font-size: 1rem;
  }
  .title {
    font-size: xxx-large;
    color: var(--text-slate);
  }
}

/* Large Screens */
@media (min-width: 1536px) {
  /* styles for ≥1536px */
}
