.configuratorWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* CARD BASE */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.45s ease;
  height: 180px;
  background: #000;
}

/* INACTIVE WIDTH */
.inactiveCard {
  flex: 1;
}

/* ACTIVE WIDTH EXPANDS ON X */
.activeCard {
  flex: 3;
}

/* THUMBNAIL */
.thumbnailWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.thumbnail {
  object-fit: cover;
  transition: all 0.5s ease;
}

/* IMAGE DARKEN WHEN ACTIVE */
.activeCard .thumbnail {
  filter: brightness(30%);
  scale: 1.1;
}

/* CONTENT */
.content {
  position: absolute;
  inset: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: scaleX(0.6);
  transform-origin: center;
  transition: all 0.45s ease;
}

.activeCard .content {
  opacity: 1;
  transform: scaleX(1);
}

/* Tablet */
@media (min-width: 640px) {
  /* styles for ≥640px */
}

/* Desktop */
@media (min-width: 1024px) {
  /* styles for ≥1024px */

  .configuratorWrapper {
    flex-direction: row;
  }
}

/* Large Screens */
@media (min-width: 1536px) {
  /* styles for ≥1536px */
}
