/* ================== */
/* Mobile View */
/* ================== */

.model_configurator__mobile {
  position: absolute;
  box-sizing: border-box;
  top: 3rem;
  width: 12rem;
  background-color: var(--box-hover);
  color: var(--text-slate-muted);
  font-size: 14px;
  padding: 1rem;
  border-radius: 16px;
}

.model_configurator__section_model {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 12px;
}

.model_configurator__model_title {
  flex: 4;
  display: flex;
  align-items: center;
}

.model_configurator__section_texture {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 12px;
}

.model_configurator__texture_title {
  flex: 4;
  display: flex;
  align-items: center;
}

.model_configurator__section_color {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 12px;
}

.model_configurator__color_title {
  flex: 4;
  display: flex;
  align-items: center;
}

.dropdown_container {
  flex: 6;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.dropdown_selected {
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  color: var(--text-slate);
  transition: all 0.03s ease;
}
.dropdown_selected:hover {
  color: var(----text-green);
}

.dropdown_list {
  width: fit-content;
  list-style: none;
  top: 0.5rem;
  left: -1rem;
  padding: 0;
  background: var(--shade-green);
  color: var(--text-slate);
  border-radius: 8px;
  border: 1px solid #ddd;
  position: absolute;
  display: none; /* default hidden */
  z-index: 10;
}

.dropdown_container:hover .dropdown_list {
  display: block;
}

.dropdown_item {
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown_item_disabled {
  opacity: 0.4;
  filter: grayscale(100%);
  cursor: not-allowed !important;
  pointer-events: none;
}

.dropdown_item:hover {
  background: var(--box-hover);
}

.dropdown_item_color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 4rem;
  height: 0.25rem;
  border-radius: 8px;
}

@media (min-width: 640px) {
  /* styles for ≥640px */
}

@media (min-width: 1024px) {
  /* styles for ≥1024px */

  .model_configurator__mobile {
    display: none;
  }
  .model_configurator__section_model {
    display: none;
  }
  .model_configurator__model_title {
    display: none;
  }
  .model_configurator__section_texture {
    display: none;
  }
  .model_configurator__texture_title {
    display: none;
  }
  .model_configurator__section_color {
    display: none;
  }
  .model_configurator__texture_color {
    display: none;
  }
  .dropdown_container {
    display: none;
  }
  .dropdown_selected {
    display: none;
  }
  .dropdown_list {
    display: none;
  }
  .dropdown_item {
    display: none;
  }
}

@media (min-width: 1536px) {
  /* styles for ≥1536px */
}

/* ================== */
/* Dektop View */
/* ================== */

.model_configurator__desktop {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.model_configurator__desktop_title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.model_configurator__desktop_section_model {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.model_configurator__desktop_section_texture {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.model_configurator__desktop_section_color {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.model_configurator__desktop_title_label {
  color: var(--text-slate);
}
.model_configurator__desktop_title_value {
  color: var(--text-slate-muted);
}

.model_configurator__desktop_values {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.desktop_item {
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.desktop_item_active {
  color: var(--text-slate);
  transform: scale(1.03);
}

.desktop_item_disabled {
  opacity: 0.4;
  filter: grayscale(100%);
  cursor: not-allowed !important;
  pointer-events: none;
}

.desktop_item_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 100%;
}

@media (min-width: 640px) {
  /* styles for ≥640px */
}

@media (min-width: 1024px) {
  /* styles for ≥1024px */
}

@media (min-width: 1536px) {
  /* styles for ≥1536px */
}
