/* Base (mobile first) */

.pageLayout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0.5rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userName {
  color: var(--text-slate);
  font-size: xx-large;
  font-weight: 700;
}

.userTitle {
  color: var(--text-slate);
  font-size: large;
  font-weight: 500;
}

.navbar {
  display: none;
}

.socialIcons {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  bottom: 8rem;
}

/* Navbar.module.css or SocialIcons.module.css */
.socialIcons span {
  display: inline-flex;
  cursor: pointer;
  color: var(--text-slate-muted); /* default muted */
  transition: color 0.3s ease;
}

.socialIcons span:hover {
  color: var(--text-slate); /* hover slate */
}

.mainContent {
  margin-top: 4rem;
}

.mainContentSection {
}

.mainSectionHeading {
  color: var(--text-slate);
  font-weight: 600;
  font-size: medium;
  position: sticky;
  top: 0;
  z-index: 5;
  background: var(--body-background);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* for Safari */
  opacity: 0.9;

  /* ✅ break out of parent padding */
  margin-left: -2rem !important;
  margin-right: -2rem !important;
  padding: 1rem 2.5rem;
}

.headerSection,
.mainContent {
  padding: 3rem 1.5rem; /* small, balanced padding */
}

.mainContentAboutSection {
}
.mainContentAboutSection .mainSectionHeading,
.mainContentAboutSection .mainSectionAbout {
  margin: 0.5rem;
}

.mainContentExperienceSection {
  margin-top: 8rem;
}
.mainContentExperienceSection .mainSectionHeading {
  margin: 0.5rem;
}

.mainContentProjectSection {
}
.mainContentProjectSection .mainSectionHeading {
  margin: 0.5rem;
}

/* Tablet */
@media (min-width: 640px) {
  /* styles for ≥640px */
}

/* Desktop */
@media (min-width: 1024px) {
  /* styles for ≥1024px */

  .container {
    display: flex;
    flex-direction: row;
    padding: 0% 10%;
    width: 100%;
    justify-content: space-between;
  }

  .headerSection {
    position: sticky;
    top: 6rem;
    padding: unset;
  }

  .userInfo {
    gap: 0.5rem;
  }

  .userName {
    font-size: xxx-large;
  }

  .userTitle {
    font-size: x-large;
  }

  .userProfDesc {
    display: block;
    width: 30ch;
    overflow-wrap: break-word;
    white-space: normal;
    margin-top: 0.5rem;
  }

  .navbar {
    display: unset;
  }
  .mainSectionHeading {
    display: none;
  }
  .mainSectionAbout {
    padding: 0rem 2rem;
  }

  .headerContent {
    flex: 3;
  }

  .mainContent {
    padding: unset;
    margin-top: 6rem;
    flex: 4;
  }

  .mainContentSection {
  }
}

/* Large Screens */
@media (min-width: 1536px) {
  /* styles for ≥1536px */
}
