/* Base (mobile first) */

.configuratorWrapper {
  right: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.pageLayout {
  width: 100vw;
  height: fit-content;
  top: 0;
  position: sticky;
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 2% 5%;
}

.headerSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.breadCrum {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem 0rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border: none;
  color: var(--text-green);
}

.title {
  font-size: large;
  color: var(--text-slate);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  left: -0.5rem;
}

.settingIcon {
  display: flex;
  align-items: center;
  color: var(--text-slate-muted);
  transition: all 0.3s ease;
}

.settingIcon:hover {
  color: var(--text-slate);
}

.mainContent {
  margin-top: 4rem;
}

.configuratorSection {
  position: relative;
}

/* Tablet */
@media (min-width: 640px) {
  /* styles for ≥640px */
}

/* Desktop */
@media (min-width: 1024px) {
  /* styles for ≥1024px */

  .configuratorWrapper {
    right: 0;
    width: 60vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
  }

  .pageLayout {
    width: 40vw;
    height: 100vh;
    top: 0;
    position: sticky;
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }
  .container {
    padding: 0;
    margin: 15% 0% 0% 25%;
  }
  .headerSection {
    width: 100%;
    display: flex;
    justify-content: unset;
    flex-direction: column;
  }
  .breadCrum {
    font-size: 1rem;
  }
  .title {
    font-size: xxx-large;
    color: var(--text-slate);
    justify-content: left;
    padding: unset;
    left: unset;
  }
  .settingIcon {
    display: none;
  }
}

/* Large Screens */
@media (min-width: 1536px) {
  /* styles for ≥1536px */
}
